/*	Palette
=============================================================================== */
/*  Type
=============================================================================== */
.dagny {
  font-family: "ff-dagny-web-pro", sans-serif;
}
.garaje {
  font-family: "Garaje53UnicaseBlack", sans-serif;
}
h1 {
  font-family: "Garaje53UnicaseBlack", sans-serif;
  color: #333333;
  font-size: 46px;
  line-height: 54px;
  letter-spacing: -1px;
  text-transform: uppercase;
}
h2 {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  color: #333333;
  font-size: 36px;
  line-height: 1em;
}
h2.lighter {
  color: #cccccc;
}
h3 {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 900;
  font-size: 23px;
  line-height: 27px;
}
h4 {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #8accb1;
}
a {
  text-decoration: none;
  color: #8accb1;
}
a:hover {
  text-decoration: underline;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
::-moz-selection {
  background-color: #8accb1;
  color: #fff;
}
::selection {
  background-color: #8accb1;
  color: #fff;
}
/*  Core
=============================================================================== */
body,
html,
#wrap {
  height: 100%;
}
#wrap {
  height: auto;
  min-height: 100%;
}
#main {
  padding-bottom: 374px;
}
#main:before {
  content: '';
  display: table;
}
#main:after {
  content: '';
  display: table;
  clear: both;
}
body {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #999999;
  background: #333333;
  -webkit-font-smoothing: antialiased;
}
.noselect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.clear:before {
  content: '';
  display: table;
}
.clear:after {
  content: '';
  display: table;
  clear: both;
}
.xFull {
  position: relative;
  width: 972px;
  margin: 0 auto;
}
.xFull:before {
  content: '';
  display: table;
}
.xFull:after {
  content: '';
  display: table;
  clear: both;
}
.x100 {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.alignleft {
  float: left;
  margin: 9px 18px 9px 0;
}
.alignright {
  float: right;
  margin: 9px 0 9px 18px;
}
.aligncenter {
  display: block;
  margin: 9px auto;
}
.center {
  text-align: center;
}
.tier:before {
  content: '';
  display: table;
}
.tier:after {
  content: '';
  display: table;
  clear: both;
}
nav > ul > li {
  display: inline;
}
.pagination {
  font-size: 1em;
}
.pagination a {
  display: block;
  width: 400px;
  color: #4f645b;
}
.pagination .alignright {
  text-align: right;
}
.actions {
  margin-top: 36px;
  padding-top: 18px;
  border-top: 1px solid #515151;
}
.actions a {
  margin-left: 13px;
  width: 312px;
  height: 144px;
  position: relative;
  display: inline-block;
  color: #333333;
  text-shadow: 1px 1px 0px rgba(138, 204, 177, 0.4);
  -webkit-transition: text-shadow 250ms ease-in-out, color 100ms ease-in-out;
  -moz-transition: text-shadow 250ms ease-in-out, color 100ms ease-in-out;
  -o-transition: text-shadow 250ms ease-in-out, color 100ms ease-in-out;
  transition: text-shadow 250ms ease-in-out, color 100ms ease-in-out;
}
.actions a:first-child {
  margin-left: 0;
}
.actions a:hover {
  text-shadow: 1px 1px 16px #8accb1;
  color: #ffffff;
}
.actions a > div {
  font-family: "ff-dagny-web-pro", sans-serif;
  position: absolute;
  padding-top: 42px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  font-size: 36px;
  line-height: 1;
  font-weight: 900;
  -webkit-transition: background 250ms ease-in-out;
  -moz-transition: background 250ms ease-in-out;
  -o-transition: background 250ms ease-in-out;
  transition: background 250ms ease-in-out;
}
.actions a:hover > div {
  background: rgba(138, 204, 177, 0.4);
}
.actions a > div small {
  font-family: "ff-dagny-web-pro", sans-serif;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 18px;
  display: block;
}
.actions a > div small:before,
.actions a > div small:after {
  content: '\00a0\2013\00a0';
  font-size: 14px;
}
/*  Carousel
=============================================================================== */
.carousel {
  padding-top: 18px;
  position: relative;
}
.carousel .viewport,
.carousel .slide {
  width: 972px;
  height: 422px;
}
.carousel .viewport {
  position: relative;
  overflow: hidden;
}
.carousel .border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1;
}
.carousel .scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 20000em;
}
.carousel .slide {
  position: relative;
  float: left;
  overflow: hidden;
}
.carousel .slide img {
  display: block;
  width: 100%;
  max-height: 422px;
}
.carousel .nav {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #333333;
  padding: 7px 0 0 8px;
  z-index: 3;
  /*&:before {
			position: absolute;
			top: -1px; left: -1px; bottom: 0; right: 0;
			content: '';
			border: 1px solid rgba(255,255,255,0.1);
			border-right: none;
			border-bottom: none;
			background: transparent;
		}*/

}
.carousel .nav li {
  position: relative;
  float: left;
  margin-left: 4px;
  height: 18px;
}
.carousel .nav li:first-child {
  margin-left: 0;
}
.carousel .nav li a {
  z-index: 3;
  display: block;
  width: 10px;
  height: 16px;
  background: #4f645b;
  border: 1px solid #8accb1;
  overflow: hidden;
  text-indent: 100%;
  -webkit-transition: background .5s, height .5s;
  -moz-transition: background .5s, height .5s;
  -o-transition: background .5s, height .5s;
}
.carousel .nav li a:hover {
  background: #8accb1;
}
.carousel .nav li .caption {
  font-family: "ff-dagny-web-pro", sans-serif;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: -608px;
  font-size: 12px;
  line-height: 1em;
  width: 600px;
  height: 1em;
  text-align: right;
  -webkit-transition: opacity .5s, bottom .5s;
  -moz-transition: opacity .5s, bottom .5s;
  -o-transition: opacity .5s, bottom .5s;
}
.carousel .nav li.state-active a {
  height: 32px;
  background: #8accb1;
}
.carousel .nav li.state-active .caption {
  visibility: visible;
  bottom: -18px;
  opacity: 1;
}
/*  Overlay
=============================================================================== */
.overlay {
  z-index: 1000;
}
.overlay .tier > .tier {
  vertical-align: middle;
  padding: 0;
  /*padding: 130px 0;*/

}
.overlay .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  background-image: url("../img/x.png");
}
.overlay .btn-close span {
  display: none;
}
.overlay .pane {
  padding: 20px 20px 40px;
  width: 580px;
  background-color: #333333;
  box-shadow: 0 2px 54px rgba(0, 0, 0, 0.75);
}
.overlay .pane h2 {
  color: #8accb1;
}
.overlay .pane p {
  padding-top: 18px;
  font-family: "ff-dagny-web-pro", sans-serif;
  font-size: 18px;
  line-height: 27px;
}
.overlay .pane .ca-button {
  margin-top: 36px;
  color: #333333;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.overlay .pane .ca-button:hover {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
}
.overlay .pane .ca-button:active {
  box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.15);
}
.overlay .pane .ca-button:active span {
  color: #333333;
}
.overlay.merlin-overlay .pane {
  padding: 0;
}
.overlay.merlin-overlay .pane > .bd > .merlin > .step {
  padding: 20px 20px 40px;
}
.overlay.merlin-overlay .spinner {
  text-align: center;
}
.mask {
  z-index: 1000;
  background-color: #000000;
  opacity: 0.8;
}
/*  Inverted
=============================================================================== */
.inverted {
  position: relative;
  width: 972px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 36px 0;
  background-color: #ffffff;
}
.inverted:before {
  content: '';
  display: table;
}
.inverted:after {
  content: '';
  display: table;
  clear: both;
}
.inverted:before {
  content: '';
  display: table;
}
.inverted:after {
  content: '';
  display: table;
  clear: both;
}
.inverted > .inner {
  padding-left: 52px;
  padding-right: 52px;
}
.inverted > .inner > header {
  padding-bottom: 9px;
}
.inverted > .inner > .content {
  border-top: 1px solid #8accb1;
  padding: 18px 0 102px;
}
.inverted > .inner > .content p:first-child {
  margin-top: 0px;
}
.inverted > .inner > .content > div {
  width: 573px;
}
.inverted h2 {
  font-size: 28px;
  font-weight: 500;
}
.inverted h3 {
  margin-top: 18px;
  color: #8accb1;
}
.inverted p {
  margin-top: 18px;
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 500;
  color: #666666;
  font-size: 16px;
  line-height: 27px;
}
.inverted ul {
  margin-top: 36px;
}
.inverted ul li {
  margin-top: 18px;
}
/*  Forms
=============================================================================== */
input[type=text],
input[type=password],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1;
  width: 100%;
  display: inline-block;
  padding: 14px 16px;
  border: 1px solid #cccccc;
  color: #333333;
  outline: none;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border-color: #8accb1;
  box-shadow: 0 0 8px rgba(138, 204, 177, 0.75);
}
.state-invalid input[type=text],
.state-invalid input[type=password],
.state-invalid textarea {
  border-color: #fb553a;
  box-shadow: 0 0 8px #fb553a;
}
textarea {
  resize: none;
}
.small-button {
  padding: 6px 9px;
  background: #5d5d5d;
  background: -moz-linear-gradient(top, #5d5d5d 0%, #505050 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d5d5d), color-stop(100%, #505050));
  background: linear-gradient(to bottom, #5d5d5d 0%, #505050 100%);
  border-bottom: 1px solid #7c7c7c;
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.1), -1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.1), -1px 2px 0px rgba(0, 0, 0, 0.2);
}
.small-button a {
  color: #000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}
.small-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: url("../img/small-button_toggle.png") no-repeat center center;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #555555;
  border-left-color: rgba(0, 0, 0, 0.1);
}
.ca-button {
  font-family: "Garaje53UnicaseBlack", sans-serif;
  color: #ffffff;
  font-size: 22px;
  line-height: 1;
  display: inline-block;
  padding: 15px 1.25em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #a7d0bf;
  border-bottom-color: #81bca4;
  background: #a7dbc8;
  background: -moz-linear-gradient(top, #a7dbc8 0%, #8accba 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7dbc8), color-stop(100%, #8accba));
  background: -webkit-linear-gradient(top, #a7dbc8 0%, #8accba 100%);
  background: -o-linear-gradient(top, #a7dbc8 0%, #8accba 100%);
  background: -ms-linear-gradient(top, #a7dbc8 0%, #8accba 100%);
  background: linear-gradient(to bottom, #a7dbc8 0%, #8accba 100%);
  /*&.alt { // used in modals
		.dagny;
		font-size: 24px;
		line-height: 1;
		font-weight: 600;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		color: rgb(44,73,61);
		color: rgba(44,73,61, 0.9);
		text-shadow: 1px 1px 0 rgba(255,255,255,0.35);
		padding: 1em 1.25em;

		&:hover span,
		&:active span {
			color: rgba(44,73,61, 1);
		}
	}*/

}
.ca-button:hover {
  text-decoration: none;
  box-shadow: 0 0 8px rgba(138, 204, 177, 0.75);
  background: #b1	e5cf;
  background: -moz-linear-gradient(top, #b1e5cf 0%, #95dbc6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b1e5cf), color-stop(100%, #95dbc6));
  background: -webkit-linear-gradient(top, #b1e5cf 0%, #95dbc6 100%);
  background: -o-linear-gradient(top, #b1e5cf 0%, #95dbc6 100%);
  background: -ms-linear-gradient(top, #b1e5cf 0%, #95dbc6 100%);
  background: linear-gradient(to bottom, #b1e5cf 0%, #95dbc6 100%);
}
.ca-button:active {
  text-decoration: none;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1);
  background: #7dbca8;
  background: -moz-linear-gradient(top, #7dbca8 0%, #a7dbc8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7dbca8), color-stop(100%, #a7dbc8));
  background: -webkit-linear-gradient(top, #7dbca8 0%, #a7dbc8 100%);
  background: -o-linear-gradient(top, #7dbca8 0%, #a7dbc8 100%);
  background: -ms-linear-gradient(top, #7dbca8 0%, #a7dbc8 100%);
  background: linear-gradient(to bottom, #7dbca8 0%, #a7dbc8 100%);
}
.ca-button span {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ca-button:active span {
  top: 1px;
  left: 1px;
  color: rgba(255, 255, 255, 0.85);
}
.ca-button.invalid {
  border-color: #fb553a;
  box-shadow: 0 0 8px #fb553a;
  color: #fb553a;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.75);
}
.ca-button.ca-trans {
  background: rgba(255, 255, 255, 0.5);
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.5)), color-stop(100%, rgba(255, 255, 255, 0.2)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.2) 100%);
  border-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: rgba(0, 0, 0, 0.6);
}
.ca-button.ca-trans:hover {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0.3)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 100%);
}
.ca-button.ca-trans:active {
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.4)), color-stop(100%, rgba(255, 255, 255, 0.6)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.6) 100%);
}
.ca-button.ca-trans:hover span,
.ca-button.ca-trans:active span {
  color: rgba(0, 0, 0, 0.75);
}
.tc-field {
  position: relative;
  float: left;
}
.tc-field-hint {
  margin: 10px;
  color: #b2b2b2;
}
/*  Header
=============================================================================== */
#main > header {
  position: relative;
  width: 972px;
  margin: 0 auto;
  margin-top: 36px;
  text-align: center;
}
#main > header:before {
  content: '';
  display: table;
}
#main > header:after {
  content: '';
  display: table;
  clear: both;
}
#main > header:before {
  content: '';
  display: table;
}
#main > header:after {
  content: '';
  display: table;
  clear: both;
}
#main > header h1 {
  margin-top: -8px;
}
#main > header .schedule {
  position: absolute;
  top: -12px;
  left: 18px;
}
#main > header .schedule .date,
#main > header .schedule .sep {
  float: left;
}
#main > header .schedule .date {
  line-height: 1.6em;
  font-weight: 500;
}
#main > header .schedule .date span {
  display: block;
}
#main > header .schedule .date span.month {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-size: 16px;
  padding-left: 2px;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 3px;
}
#main > header .schedule .date span.day {
  margin-top: 6px;
  font-size: 56px;
  font-weight: 900;
  letter-spacing: -3px;
}
#main > header .schedule .sep {
  font-size: 36px;
  line-height: 2.5em;
  margin-left: .25em;
}
#main > header .connect {
  position: absolute;
  top: -5px;
  right: 18px;
  width: 80px;
}
#main > header .connect a {
  display: block;
  float: left;
  width: 34px;
  height: 34px;
  line-height: 42px;
  margin: 5px 0 0 5px;
  color: #cccccc;
  background: #585858;
  background: -moz-linear-gradient(top, #585858 0%, #444444 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #444444));
  background: -webkit-linear-gradient(top, #585858 0%, #444444 100%);
  background: -o-linear-gradient(top, #585858 0%, #444444 100%);
  background: -ms-linear-gradient(top, #585858 0%, #444444 100%);
  background: linear-gradient(to bottom, #585858 0%, #444444 100%);
}
#main > header .connect a:hover {
  color: #ffffff;
  text-decoration: none;
  background: #686868;
  background: -moz-linear-gradient(top, #686868 0%, #555555 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #686868), color-stop(100%, #555555));
  background: -webkit-linear-gradient(top, #686868 0%, #555555 100%);
  background: -o-linear-gradient(top, #686868 0%, #555555 100%);
  background: -ms-linear-gradient(top, #686868 0%, #555555 100%);
  background: linear-gradient(to bottom, #686868 0%, #555555 100%);
}
#main > header .connect a:active {
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.5);
  background: #222222;
  background: -moz-linear-gradient(top, #222222 0%, #383838 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #222222), color-stop(100%, #383838));
  background: -webkit-linear-gradient(top, #222222 0%, #383838 100%);
  background: -o-linear-gradient(top, #222222 0%, #383838 100%);
  background: -ms-linear-gradient(top, #222222 0%, #383838 100%);
  background: linear-gradient(to bottom, #222222 0%, #383838 100%);
}
#main > header .connect a span {
  position: relative;
}
#main > header .connect a:active span {
  top: 1px;
  left: 1px;
  color: rgba(255, 255, 255, 0.6);
}
#main > header nav {
  width: 454px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Garaje53UnicaseBlack", sans-serif;
  font-size: 17px;
  line-height: 1em;
  text-transform: uppercase;
  border-top: 1px solid #515151;
  color: #8accb1;
}
#main > header nav a {
  display: block;
  padding: 9px 0 0 37px;
}
#main > header nav a:hover {
  color: #ffffff;
  text-decoration: none;
}
#main > header nav > ul {
  text-align: center;
}
#main > header nav > ul > li {
  position: relative;
  display: inline-block;
}
#main > header nav > ul > li:first-child a {
  padding-left: 0;
}
#main > header nav > ul > li:hover > .sub-menu {
  display: block;
}
#main > header nav > ul li.current-menu-item > a {
  color: #ffffff;
  cursor: default;
}
#main > header nav > ul .sub-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 100%;
  left: 0;
  text-align: left;
}
#main > header nav > ul .sub-menu a {
  padding-top: 3px;
  padding-bottom: 3px;
}
/*  Homepage
=============================================================================== */
.overview {
  margin-top: 36px;
  border-top: 3px solid #515151;
}
.overview:before {
  content: '';
  display: table;
}
.overview:after {
  content: '';
  display: table;
  clear: both;
}
.overview > div {
  float: left;
  width: 748px;
  margin-left: 18px;
}
.overview p {
  padding-top: 18px;
}
.overview p .lighter {
  color: #cccccc;
}
.overview .more {
  display: none;
}
.overview .more p:first-child {
  color: inherit;
}
.overview .toggle {
  margin-top: 18px;
  display: block;
  float: right;
  margin-right: 18px;
}
.overview .toggle:hover {
  text-decoration: none;
}
.overview .toggle:hover > span span:first-child {
  text-decoration: none;
  color: #ffffff;
}
.overview .toggle .collapse {
  display: none;
}
.home .inverted > .inner {
  padding-bottom: 36px;
}
.home .inverted > .inner:before {
  content: '';
  display: table;
}
.home .inverted > .inner:after {
  content: '';
  display: table;
  clear: both;
}
.home .inverted .posts {
  float: left;
  width: 512px;
}
.home .inverted .posts .post {
  margin-top: 36px;
}
.home .inverted .posts .post:before {
  content: '';
  display: table;
}
.home .inverted .posts .post:after {
  content: '';
  display: table;
  clear: both;
}
.home .inverted .posts .post a.thumblink {
  width: 164px;
  height: 108px;
  overflow: hidden;
  background: #eee;
  display: block;
  float: left;
}
.home .inverted .posts .post img {
  float: left;
  margin-right: 18px;
  margin-top: -28px;
}
.home .inverted .posts .post > div {
  margin-left: 182px;
}
.home .inverted .posts .post p {
  font-size: 12px;
  line-height: 18px;
  margin-top: 9px;
}
.home .inverted .posts .post h3 {
  margin-top: 0;
  font-size: 20px;
  line-height: 1.2;
}
.home .inverted .partners {
  float: left;
  width: 262px;
  margin-left: 94px;
}
.home .inverted .partners li {
  padding: 18px 0 0 18px;
  margin: 0 0 18px 0;
  border: 1px solid #eee;
  border-bottom: none;
  border-right: none;
  width: 295px;
}
.home .inverted .partners li img {
  display: block;
  height: 42px;
  opacity: 0.5;
}
.home .inverted .partners li:hover {
  border-color: #8accb1;
}
.home .inverted .partners li:hover img {
  opacity: 0.75;
}
/*  Article
=============================================================================== */
article {
  font-size: 14px;
  line-height: 18px;
  padding: 18px 0 102px;
  color: #666666;
  border-top: 1px solid #8accb1;
}
article:before {
  content: '';
  display: table;
}
article:after {
  content: '';
  display: table;
  clear: both;
}
article h1,
article h2 {
  line-height: 30px;
  color: #8accb1;
}
article h1 {
  font-size: 30px;
}
article h2 {
  margin-top: 27px;
  font-size: 24px;
  font-weight: normal;
  text-transform: none;
}
article p,
article img {
  margin-top: 18px;
}
article p:first-child,
article img:first-child {
  margin-top: 0px;
}
article .more-link {
  margin-top: 9px;
  display: block;
  font-size: 1.25em;
  color: #4f645b;
}
article > header {
  float: left;
  width: 268px;
}
article > header.full {
  width: 100%;
}
article > header.full img.wp-post-image.attachment-full {
  display: block;
  max-width: 868px;
  margin-left: auto;
  margin-right: auto;
}
article .content {
  margin-left: 295px;
}
/*  Visit & Full Blog
=============================================================================== */
/* move some of these to .inverted section? */
.detail-block {
  border-top: 1px solid #8accb1;
  padding-bottom: 60px;
}
.detail-block:before {
  content: '';
  display: table;
}
.detail-block:after {
  content: '';
  display: table;
  clear: both;
}
.detail-block h3 {
  float: left;
  width: 228px;
  padding-right: 40px;
  font-weight: 900;
  color: #8accb1;
}
.detail-block h3 .meta {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  display: block;
  color: #cccccc;
  margin-top: 9px;
}
.detail-block h4 {
  padding: 16px 18px 18px 0;
  margin-top: 27px;
  margin-right: 27px;
  line-height: 27px;
  display: inline-block;
  float: left;
  font-style: italic;
  width: 160px;
  border-top: 1px solid rgba(138, 204, 177, 0.5);
}
.detail-block.no-rules {
  border-top: none;
}
.detail-block .details {
  float: left;
  width: 548px;
  margin-left: 18px;
  margin-top: 20px;
}
.detail-block .details p {
  font-family: "ff-dagny-web-pro", sans-serif;
  font-weight: 400;
  color: #666666;
  font-size: 16px;
  line-height: 27px;
}
.detail-block .details p:first-child {
  margin-top: 0px;
}
.detail-block .details a {
  color: #8accb1;
}
.detail-block .details a:hover {
  text-decoration: underline;
}
.detail-block .details #small-image {
  float: left;
  width: 188px;
  height: 180px;
  background-color: whitesmoke;
}
.detail-block .details .text-shift {
  float: left;
  width: 268px;
  margin-left: 18px;
}
.detail-block .details .text-shift p:first-child {
  margin-top: 0;
}
.pagination {
  font-size: 14px;
  line-height: 1.2;
}
/*  Color picker
=============================================================================== */
.color-picker {
/* colorpicker pause */
  display: none;
  float: left;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: crosshair;
}
.color-picker canvas {
  display: block;
  width: 135px;
  height: 135px;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.color-picker .handle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  width: 33px;
  height: 33px;
  background-image: url("../img/color-picker-handle.png");
}
/*  Send Message
=============================================================================== */
.send-message .tier {
  margin-top: 36px;
}
.send-message h2 {
  font-size: 27px;
  line-height: 36px;
  font-weight: bold;
}
.send-message .load-prompt {
  float: left;
  font-size: 18px;
}
.send-message .load-prompt a {
  display: block;
  padding: 5px 0 5px 25px;
  background-repeat: no-repeat;
  background-image: url("../img/refresh.png");
  background-size: 16px 16px;
  background-position: left 50%;
  color: rgba(255, 255, 255, 0.55);
}
.send-message .send-message-compose .tc-field {
  float: none;
}
.send-message .send-message-compose .tc-field textarea {
  height: 200px;
  font-family: "ff-dagny-web-pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 5px;
}
.send-message .send-message-compose .tc-field .count {
  display: block;
  float: right;
  padding: 5px 0 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
}
.send-message .send-message-compose .ca-button {
  margin: 40px 0 0 35px;
  /* colorpicker pause */
  margin: 40px auto 0;
  display: block;
  width: 182px;
  text-align: center;
}
.send-message .send-message-geo {
  position: relative;
}
.send-message .thank-you h2 {
  text-align: center;
  font-weight: 600;
  font-size: 72px;
  margin-top: 36px;
}
.send-message .thank-you p {
  text-align: center;
}
/*  Footer
=============================================================================== */
footer {
  margin-top: 54px;
  width: 100%;
  position: relative;
  margin-top: -345px;
  height: 345px;
  font-size: 12px;
  line-height: 18px;
  color: #858585;
  background: #ebebeb;
  background: -moz-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebebeb), color-stop(100%, #f3f3f3));
  background: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background: -o-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background: -ms-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
  background: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
  -webkit-box-shadow: inset 0px 0px 8px 0px , 0, 0, .1);
  box-shadow: inset 0px 0px 8px 0px , 0, 0, .1);
}
footer:before {
  content: '';
  display: table;
}
footer:after {
  content: '';
  display: table;
  clear: both;
}
footer > div {
  position: relative;
  width: 972px;
  margin: 0 auto;
}
footer > div:before {
  content: '';
  display: table;
}
footer > div:after {
  content: '';
  display: table;
  clear: both;
}
footer p {
  float: left;
  width: 708px;
  margin-left: 18px;
  margin-top: 36px;
}
footer .signup {
  margin-top: 36px;
  font-size: 19px;
  min-height: 54px;
}
footer .signup .signup-email {
  float: left;
  width: 428px;
  margin-left: 18px;
  margin-left: 0;
}
footer .signup .signup-email .tc-field-hint {
  margin: 18px 16px;
  font-size: 19px;
}
footer .signup .signup-email input {
  font-size: 19px;
}
footer .signup .signup-email + div {
  float: left;
  width: 228px;
  margin-left: 18px;
}
footer .signup .step.dispatch,
footer .signup .step.thank-you {
  margin-top: 18px;
  margin-left: 18px;
}
footer .signup .step.thank-you {
  font-style: italic;
}
footer .links {
  margin-top: 54px;
}
footer .links li {
  margin-left: 36px;
}
footer .links li.terms {
  margin-left: 64px;
}
footer .links li:first-child {
  margin-left: 0;
}
footer .banner {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 450px;
  background: url("../img/festivalbanner3.png") no-repeat 0 0;
}
/*  Style overrides for WP Plugin defaults
=============================================================================== */
.ngg-galleryoverview {
  margin-top: 0 !important;
}
.ngg-galleryoverview .ngg-gallery-thumbnail {
  height: 100px !important;
  overflow: hidden;
  padding: 0;
  margin: 0 9px 9px 0;
  width: auto;
  position: relative;
}
.ngg-galleryoverview .ngg-gallery-thumbnail img {
  margin: 0;
  padding: 0;
  border: 1px solid white;
}
.ngg-galleryoverview .ngg-gallery-thumbnail img:hover {
  border-color: #8accb1;
}
.ngg-galleryoverview .ngg-gallery-thumbnail a:hover:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.35);
  z-index: 100;
}
#ngg-slideshow-26-403-1 {
  height: 225px !important;
}
.slideshowlink {
  font-size: 13px;
  font-family: "ff-dagny-web-pro";
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 9px;
}
p + .ngg-galleryoverview .slideshowlink {
  margin-top: 18px;
}
/*  Mobile
=============================================================================== */
body.mobile {
  font-size: 17px;
  line-height: 21px;
  background: #222222;
  /* Send Message */

}
body.mobile .xFull {
  width: 100%;
}
body.mobile .xFull > .inner {
  padding: 14px;
}
body.mobile .ca-button.alt {
  font-size: 18px;
}
body.mobile #main {
  padding: 51px 0 58px;
}
body.mobile header,
body.mobile footer {
  z-index: 1001;
}
body.mobile #main > header {
  margin-top: 0px;
  position: fixed;
  top: 0;
  left: 0;
  background: #333333;
  width: 100%;
  padding: 12px 0;
  text-align: left;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
}
body.mobile #main > header h1 {
  width: 151px;
  float: left;
  margin: 8px 20px 0 14px;
}
body.mobile #main > header h1 img {
  display: block;
  width: 151px;
}
body.mobile #main > header .connect,
body.mobile #main > header .schedule,
body.mobile #main > header nav {
  display: none;
}
body.mobile #main > header .mobile-nav {
  position: relative;
  float: left;
  width: 124px;
  height: 28px;
  font-size: 15px;
  line-height: 1em;
  overflow: hidden;
}
body.mobile #main > header .mobile-nav ul > li {
  padding: 6px 9px;
  background: #5d5d5d;
  background: -moz-linear-gradient(top, #5d5d5d 0%, #505050 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5d5d5d), color-stop(100%, #505050));
  background: linear-gradient(to bottom, #5d5d5d 0%, #505050 100%);
  border-bottom: 1px solid #7c7c7c;
  -webkit-box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.1), -1px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 1px 2px 0px rgba(255, 255, 255, 0.1), -1px 2px 0px rgba(0, 0, 0, 0.2);
}
body.mobile #main > header .mobile-nav ul > li a {
  color: #000;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.25);
}
body.mobile .splash {
  border-bottom: 1px solid #000000;
}
body.mobile #overview {
  margin-top: 0px;
  border-top: 1px solid #515151;
  color: #f3f3f3;
}
body.mobile #overview > div {
  float: none;
  width: auto;
  margin-left: 0;
}
body.mobile #overview p {
  padding-top: 9px;
}
body.mobile #overview p .lighter {
  color: #cccccc;
}
body.mobile #overview .toggle {
  margin-top: 0px;
  color: #8accb1;
  font-weight: bold;
  margin-right: 0;
  margin-bottom: 10px;
}
body.mobile #overview .toggle:hover > span span:first-child {
  color: #8accb1;
}
body.mobile #overview .toggle .collapse {
  display: none;
}
body.mobile .actions {
  display: none;
}
body.mobile .overlay .btn-close {
  display: none;
}
body.mobile .overlay .pane {
  padding: 0;
  width: auto;
  background-color: #333333;
  box-shadow: none;
}
body.mobile .overlay .pane p {
  padding-top: 18px;
  font-size: 14px;
  line-height: 18px;
}
body.mobile .overlay .pane .ca-button {
  margin-top: 36px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
body.mobile .overlay .pane .ca-button:hover {
  box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.3);
}
body.mobile .overlay .pane .ca-button:active {
  box-shadow: inset 1px 1px 12px rgba(0, 0, 0, 0.15);
}
body.mobile .overlay.merlin-overlay .pane {
  padding: 0;
}
body.mobile .overlay.merlin-overlay .pane > .bd > .merlin > .step {
  padding: 20px 12px 40px;
}
body.mobile .overlay.merlin-overlay .spinner {
  text-align: center;
}
body.mobile .mask {
  z-index: 1000;
  background-color: inherit;
  background: none;
  opacity: 1;
}
body.mobile .send-message {
  width: 100%;
}
body.mobile .send-message .tier {
  margin-top: 36px;
}
body.mobile .send-message h2 {
  font-size: 19px;
  line-height: 28px;
}
body.mobile .send-message .load-prompt {
  float: left;
  font-size: 18px;
}
body.mobile .send-message .load-prompt a {
  display: block;
  padding: 5px 0 5px 25px;
  background-repeat: no-repeat;
  background-image: url("../img/refresh.png");
  background-size: 16px 16px;
  background-position: left 50%;
  color: rgba(255, 255, 255, 0.55);
}
body.mobile .send-message .send-message-compose .tc-field {
  float: none;
}
body.mobile .send-message .send-message-compose .tc-field textarea {
  height: 200px;
  font-family: "ff-dagny-web-pro", sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 5px;
}
body.mobile .send-message .send-message-compose .tc-field .count {
  display: block;
  float: right;
  padding: 5px 0 0;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.55);
}
body.mobile .send-message .send-message-compose .ca-button {
  margin: 40px 0 0 35px;
}
body.mobile .send-message .send-message-geo {
  position: relative;
}
body.mobile .send-message .thank-you h2 {
  text-align: center;
  font-weight: 600px;
  font-size: 72px;
}
body.mobile .send-message .thank-you p {
  text-align: center;
}
body.mobile footer {
  margin-top: -58px;
  height: 34px;
  padding: 12px 0;
  background: #333333;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.4);
}
body.mobile footer .ca-button {
  display: block;
  text-align: center;
  margin: 0 14px;
  padding: .4em 0;
}
