body { }

.page { margin: auto; text-align: left; padding: 10px; }

.tier:before,
.tier:after { content:""; display:table; }
.tier:after { clear:both; }
.tier { zoom:1; }

.col { float: left; margin-left: 20px; }
.col:first-child { margin-left: 0; }

.x1 { width: 60px; }
.x2 { width: 140px; }
.x3 { width: 220px; }
.x4 { width: 300px; }
.x5 { width: 380px; }
.x6 { width: 460px; }
.x7 { width: 540px; }
.x8 { width: 620px; }
.x9 { width: 700px; }
.x10 { width: 780px; }
.x11 { width: 860px; }
.x12 { width: 940px; }