


/*	Palette
=============================================================================== */

@base-bg: rgb(51,51,51);
@copy-color: rgb(153,153,153);
@offset: rgb(81,81,81);
@accent: rgb(138,204,177);
@white: rgb(255,255,255);
@off-white: rgb(243,243,243);
@shadow: rgb(178,178,178);
@gray0: rgb(204,204,204);
@gray2: rgb(147,147,147);
@gray3: rgb(133,133,133);



/*  Type
=============================================================================== */

.brandon-grotesque { font-family: "brandon-grotesque"; }
.museo-slab { font-family: "museo-slab"; }

a { 
	text-decoration: none;
	color: @accent;
	&:hover { text-decoration: underline; }
}



/*  Core
=============================================================================== */

body {
	.brandon-grotesque;
	font-size: 21px;
	line-height: 1.3em;
	color: @copy-color;
	background: @base-bg;
}


.clear {
	&:before {
		content: '';
		display: table;
	}
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}


.x(@unit) {
	float: left;
	width: 40px * @unit - 12px;
	margin-left: 18px;
}
.y(@unit) {
	margin-top: 18px * @unit;
}

.xFull { 
	position: relative;
	width: 972px;
	margin: 0 auto;
	.clear;
}
.x100 { 
	width: 100%;
}


img { height: auto; }



/*  Header
=============================================================================== */

body > header {
	.xFull;
	.y(2);
	.clear;
	text-align: center;
	
	.schedule {
		position: absolute;
		top: -.4em;
		left: 18px;
		
		.date, .sep { float: left; }
		
		.date {
			line-height: 1.6em;
			letter-spacing: 3px;
			font-weight: 500;
			
			span {
				display: block;
				
				&.month {
					.museo-slab;
					font-size: 16px;
					text-transform: uppercase;
				}
				
				&.day {
					font-size: 56px;
				}
				
			}
			
		}
		
		.sep {
			font-size: 40px;
			line-height: 2.5em;
			margin-left: .25em;
		}
		
	}
	
	nav {
		font-size: 17px;
		text-transform: uppercase;
		width: 454px;
		margin: 9px auto;
		padding-top: 9px;
		border-top: 1px solid @offset;
		color: @accent;
		
		ul, li { display: inline; }
		
		> ul {
		
			> li {
				margin-left: 24px;
				&:first-child { margin-left: 0; }
			}
			
			ul { display: none; }
			
		}
		
	}
	
}



/*  Overview
=============================================================================== */

.overview {
	.y(1);
	.clear;
	border-top: 3px solid @offset;
	
	> div { .x(19); }
	
	p {
		&:first-child { 
			.y(1);
			color: @gray0;
		}
	}
	
	.more { display: none; }
	
	.button {
		.y(1);
		.x(5);
		text-align: right;
	}
	
}


